@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Marcellus&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus{
  outline: none;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  vertical-align: middle;
  max-width: 100%;
}
body, p, div{
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Marcellus', serif;
  margin-bottom: 0;
}
span{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa', cursive;
}

/* Buttons */
.btn-bg, .btn-border {
  font-family: 'Comfortaa', cursive;
  border-radius: 30px;
  display: inline-block;
  padding: 16px 32px;  
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  transition: .3s;
}
.btn-bg {
  background-color: #0D9488;
  color: #fff;
  border: 0;
}
.btn-bg:hover{
  background-color: #115E59;
  color: #fff;
}
.btn-border {
  background-color: #F0FDFA;
  border: 1px solid #0D9488;
  color: #0D9488;
}
.btn-border:hover{
  background-color: #CCFBF1;
  color: #134E4A;
  border-color: #134E4A;
}

/* Header CSS */

.header {
	padding: 50px 0 72px;
}
.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 16px;
}
.menu li a {
  color: #475569;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  transition: .3s;
  position: relative;
}
.menu li a:before {
  position: absolute;
  content: "";
  background-color: #FBBF24;
  height: 2px;
  left: 0;
  bottom: -3px;
  width: 0;
  transition: .3s;
}
.menu li a:hover:before {
  width: 100%;
}

/* 
  Home Page CSS 
*/

/* Bannar */


.bannar-content {
  text-align: left;
}
.bannar-content h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 46.8px;
  color: #fff;
}
.bannar-content h4 img {
  margin-right: 24px;
}
.bannar-content p {
  color: #fff;
  font-size: 18px;
  margin: 24px 0 48px;
}
.carousel-item.bannar-item {
	background-size: cover;
	background-position: center;
  padding: 400px 0;
}

.header.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
}
.header.home .menu li a {
  color: #fff;
}
.home-hero {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  top: 180px;
}

.home-hero h1 {
  font-size: 72px;
  line-height: 79.2px;
  color: #fff;
  margin-bottom: 0;
}
.home-hero p {
  color: #fff;
}
.hero-form {
  border: 2px solid #F0FDFA;
  border-radius: 24px;
  padding: 26px 32px;
}

/* Promo */

.promo {
  background-color: #115E59;
  position: relative;
}
.promo:after{
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #115E59 100%, #115E59 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height: 480px;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.promo h4 {
  font-size: 36px;
  color: #fff;
  line-height: 46.8px;
}
.promo p {
  color: #fff;
  margin: 32px 0 100px;
}
.promo-img {
  display: flex;
  align-items: center;
}
.promo-img-right {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
.promo-img-right a {
  display: block;
  margin: 12px 0;
}

/* Features */

.features {
	background-color: #115E59;
	color: #fff;
	padding: 110px 0 98px;
}
.feature-section-title {
  margin-bottom: 70px;
}
.feature-section-title h4 {
  color: #fff;
  font-family: 'Marcellus';
  font-size: 36px;
  line-height: 46.8px;
  margin-bottom: 20px;
}
.feature-section-title p {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
}
.single-feature span {
	font-size: 203px;
	line-height: 223px;
	margin-right: 30px;
	margin-top: -40px;
}
.single-feature h4 {
  color: #fff;
  font-size: 23px;
  line-height: 32.2px;
}
.single-feature p {
  color: #fff;
  max-width: 282px;
}
.single-feature p a {
  color: #FBBF24;
}
.features-btn {
	margin-top: 100px;
}

/* Rooms */

.rooms{
  padding: 98px 0 196px;
}
.rooms-title {
	padding-bottom: 98px;
}
.rooms-title h4{
  font-size: 36px;
  line-height: 46.8px;
  color: #0F766E;
}
.rooms-title h4 span {
  position: relative;
}
.rooms-title h4 span:after{
  position: absolute;
  content: "";
  background-image: url('../img/icons/divider.png');
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -37px;
  background-repeat: no-repeat;
}
.rooms-title p {
  max-width: 490px;
}
.single-room {
	position: relative;
	overflow: hidden;
	border-radius: 24px;
  margin-bottom: 30px;
}
.room-image {
	width: 100%;
	padding-top: 130%;
	background-size: cover;
	background-position: center;
}
.room-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 16px 16px 20px 16px;
  z-index: 2;
}
.room-content:after {
  content: "";
  position: absolute;
  width: 104%;
  height: 100%;
  background-color: #008080;
  left: 0;
  bottom: 0;
  border-radius: 0 0 24px 24px;
  z-index: -1;
  opacity: 0.9;
  right: 0;
}
.room-content h4 {
  font-size: 23px;
  color: #fff;
  line-height: 32.2px;
}
.room-content h4 span {
  display: block;
  margin-top: 8px;
}
.room-feature {
  margin-top: 20px;
}
.room-icon img {
  margin-right: 12px;
}
.room-rating {
  font-family: 'Comfortaa';
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.room-rating img {
  margin-right: 8px;
}
.room-list-btn {
	z-index: 2;
	margin-top: 40px;
}
.room-list-btn:after{
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #FFFFFF 34.38%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height: 480px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* Filter CSS */

.filter-bottom > span {
  color: #0284C7;
}
.filter-bottom .filter-button {
  margin-bottom: 0;
  border: 1px solid #94A3B8;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.filter-bottom .filter-button img {
  margin-right: 5px;
}
.filter-dropdown-box {
  width: 400px;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 16px 24px 10px;
}
.single-filter-dropdown {
  flex-basis: 48%;
  text-align: center;
  margin-bottom: 16px;
}
.single-filter-dropdown label, .filter-dropdown.dropdown-radio .single-filter-dropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #CBD5E1;
	border-radius: 8px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Comfortaa';
	color: #475569;
	padding: 12px 16px;
  cursor: pointer;
  transition: .3s;
}
.single-filter-dropdown label img {
	width: 20px;
	margin-bottom: 10px;
}
.filter-dropdown-box h4 {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.single-filter-dropdown label:hover {
  border-color: #0284C7;
  color: #0284C7;
  background-color: #F0F9FF;
}
.single-filter-dropdown .btn-check:checked ~ .btn-label {
	background: #F0F9FF;
	color: #0369A1;
  border-color: #0369A1;
}
.filter-dropdown {
  position: absolute;
  background-color: #fff;
  z-index: 99;
  left: 0;
  top: 115%;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:hover .filter-dropdown {
  opacity: 1;
  visibility: visible;
}
.filter-button:nth-child(6) .filter-dropdown, .filter-button:nth-child(7) .filter-dropdown{
  right: 0;
  left: auto;
}


/* amenities */
.section-title {
    color: #475569;
    font-size: 36px;
    line-height: 46.8px;
    margin-bottom: 64px;
    font-weight: 400;
  }
  .single-amenities {
    margin-bottom: 48px;
  }
  .single-amenities h5 {
    color: #475569;
    font-size: 23px;
    line-height: 32.5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .single-amenities h5 img {
    margin-right: 20px;
  }
  .single-amenities span {
    display: block;
    color: #64748B;
    font-size: 18px;
    line-height: 27px;
  }




  /* Profile - Header */


  .dropdown-menu {
    padding: 24px 0 36px;
    margin-top: 10px !important;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.12);
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .user-info img {
    border-radius: 45px;
    border: 1px solid #14B8A6;
    width: 50px;
    margin-right: 10px;
  }
  .user-info h4 {
    font-size: 18px;
    line-height: 27px;
    color: #475569;
    font-weight: 400;
  }
  .user-info h4 span {
    display: block;
    font-size: 13px;
    line-height: 20.8px;
  }
  
.user-info {
  padding: 0 20px;
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.dropdown-menu li {
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 12px;
}
.dropdown-menu li img {
  margin-right: 10px;
}
.dropdown-menu li a {
  padding: 0 20px;
}
.dropdown-menu li:last-child {
  margin-bottom: 0;
}




.subscribe {
  background-color: #008080;
  padding: 64px 0;
  color: #fff;
  border-bottom: 2px solid #FBBF24;
}
.subscribe h4 {
  font-size: 56px;
  line-height: 66.2px;
  font-family: 'Marcellus';
  margin-bottom: 48px;
}
.subscribe form {
  width: 470px;
  margin: 0 auto;
}
.subscribe input[type="email"] {
	width: 100%;
	padding: 21px 18px;
	border: 2px solid #2DD4BF;
	border-radius: 8px;
	padding-left: 55px;
	font-size: 18px;
	line-height: 27px;
	font-family: 'Comfortaa';
	color: #94A3B8;
}
.subscribe input[type="submit"] {
  padding: 16px 32px;
  border-radius: 32px;
  border: 1px solid #0D9488;
  font-size: 18px;
  line-height: 18px;
  color: #0D9488;
  font-family: 'Comfortaa';
}

.subscribe-group {
  position: relative;
}
.icon-envelope {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}
.icon-close {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.subscribe-check {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 20.2px;
  font-family: 'Comfortaa';
}
.subscribe-check input[type="checkbox"] {
  border: 2px solid #2DD4BF;
  border-radius: 4px;
  margin-right: 12px;
}
.subscribe-check label a {
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}





.user-profile {
  border: 1px solid #0F766E;
  padding: 8px 16px;
  border-radius: 24px;
  display: inline-block;
  font-size: 18px;
  color: #475569;
  line-height: 27px;
  font-family: 'Comfortaa';
}
.user-profile img {
	margin-right: 5px;
	border-radius: 50%;
	border: 1px solid #0F766E;
}
.dropdown-menu li:nth-child(3), .dropdown-menu li:nth-child(6) {
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 15px;
}


.room-search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #94A3B8;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 24px;
}
.room-search-item .room-column-slider {
  flex-basis: 30%;
}
.room-search-box {
  flex-basis: 70%;
  padding: 24px;
}
.room-search-top-info span {
  color: #0369A1;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
}
.room-search-top-info span img {
  margin-right: 5px;
}
.room-search-top-info h4 {
  font-size: 23px;
  line-height: 32.2px;
  color: #475569;
  margin-top: 5px;
}
.room-search-top-info p {
  color: #475569;
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
  display: flex;
  align-items: center;
}
.room-search-top-info p img {
  margin-right: 5px;
}
.room-search-top-rating h5 {
  color: #0F766E;
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
  font-weight: 700;
  margin-right: 8px;
  margin-bottom: 0;
  text-align: right;
}
.room-search-top-rating h5 span {
  display: block;
  color: #475569;
  font-weight: 400;
}
.room-search-top-rating p {
  background-color: teal;
  color: #fff;
  padding: 8px;
  border-radius: 12px;
  font-family: 'Comfortaa';
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0;
}

.room-search-features span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  color: #475569;
  font-family: 'Comfortaa';
  font-size: 13px;
  line-height: 20.8px;
}
.room-search-features span img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.room-search-price {
  text-align: right;
}
.room-search-price p {
  font-size: 23px;
  line-height: 32.2px;
  color: #0F766E;
  font-family: 'Marcellus';
  margin-bottom: 10px;
}
.room-search-price span {
  display: block;
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
  color: #475569;
}

.room-search-map iframe {
  width: 100%;
  height: 650px;
  vertical-align: middle;
}
.room-search-map {
  border: 1px solid #94A3B8;
  border-radius: 24px;
  overflow: hidden;
  vertical-align: middle;
}

.room-search-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.room-search-number h4 {
  margin-bottom: 0;
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}




/* Payment Page */
.page-title {
  font-size: 51px;
  line-height: 61.2px;
  color: #475569;
  margin-bottom: 60px;
}
.page-subtitle{
  color: #475569;
  font-size: 36px;
  line-height: 46.8px;
  margin-bottom: 24px;
}
.booking-information ul {
  border: 1px solid #94A3B8;
  border-radius: 24px;
  padding: 16px 27px;
  list-style: none;
}
.booking-information ul li {
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1px dashed #94A3B8;
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #64748B;
  display: flex;
  align-items: center;
}
.booking-information ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.booking-information ul li img {
  margin-right: 10px;
}
.booking-cancel p {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
  margin-top: 32px;
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 64px;
  margin-bottom: 64px;
}
.booking-cancel label {
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
  display: flex;
  align-items: center;
}

.booking-summary {
  border: 1px solid #94A3B8;
  padding: 24px;
  border-radius: 24px;
}
.booking-summary-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
.booking-summary-info {
  flex-basis: 58%;
}
.booking-summary-info span {
  display: flex;
  align-items: center;
  color: #0369A1;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Comfortaa';
}
.booking-summary-info span img {
  margin-right: 5px;
}
.booking-summary-info h4 {
  color: #475569;
  font-size: 23px;
  line-height: 32.8px;
  font-family: 'Marcellus';
  margin: 10px 0;
}
.booking-summary-info p {
  display: flex;
  align-items: center;
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
  margin-right: 5px;
}
.booking-summary-info p span {
  margin-right: 5px;
  color: #475569;
  font-weight: 700;
}
.booking-summary h5 {
  color: #475569;
  font-size: 22px;
  line-height: 36px;
  font-family: 'Comfortaa';
}
.booking-summary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.booking-summary ul li {
  display: flex;
  justify-content: space-between;
  color: #64748B;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
  margin-bottom: 8px;
}
.booking-summary ul li:last-child {
  border-top: 1px dashed #94A3B8;
  margin-top: 24px;
  padding-top: 24px;
  font-weight: 700;
}

/* HIDE RADIO */
/* [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
/* [type=radio] + img {
  cursor: pointer;
} */

/* CHECKED STYLES */
/* [type=radio]:checked + img {
  outline: 2px solid #f00;
} */ 

.payment-option {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.payment-option li label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #94A3B8;
  border-radius: 8px;
  padding: 20px 0;
}
.payment-option li {
  flex-basis: 24%;
}
.payment-option li label span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
  color: #475569;
}
.payment-form {
  border-radius: 8px;
  margin-top: 24px;
  border: 1px solid #14B8A6;
  overflow: hidden;
}
.payment-form input {
  width: 100%;
  border: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
  background-color: #F0FDFA;
  padding: 12px;
  border-bottom: 1px solid #14B8A6;
}
.payment-form-half {
  display: flex;
  justify-content: space-between;
}
.payment-form-half input {
  border-right: 1px solid #14B8A6;
}
.payment-form-half input:last-child {
  border-right: 0;
}

.payment-form-select select {
  border: 1px solid #14B8A6;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-size: 18px;
  line-height: 27px;
  color: #475569;
  font-family: 'Comfortaa';
  background-color: #F0FDFA;
  margin-top: 16px;
}
.payment-form-box {
  padding: 40px 0 60px;
}

.rooms-section-title h4 {
  color: #475569;
  font-size: 51px;
  line-height: 61.2px;
  font-family: 'Marcellus';
  margin-bottom: 5px;
}
.rooms-section-title p {
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
  margin-bottom: 0;
}

.rooms-section-title a {
  margin-left: 30px;
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  font-family: 'Comfortaa';
  margin-right: 10px;
}
.rooms-section-title {
  margin-bottom: 32px;
}
.room-boking-form a {
	background-color: #E11D48;
}

.room-response {
  background-color: #F0FDFA;
  padding: 48px;
  border-radius: 24px;
  border: 1px solid #2DD4BF;
  margin-top: 100px;
}
.room-response .room-search-item {
	background-color: #fff;
	margin-bottom: 32px;
}
.room-response .room-search-item:last-child {
	margin-bottom: 0;
}
.room-response .room-search-item .room-column-slider {
  flex-basis: 40%;
}
.room-response .room-search-box {
	flex-basis: 60%;
}
.room-response .room-search-top-info h5 {
  color: #0D9488;
  font-size: 13px;
  line-height: 20.8px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 0;
}
.room-response .room-search-features {
  margin-top: 60px;
  display: flex;
  max-width: 371px;
  flex-wrap: wrap;
}
.room-response .room-search-features span {
  flex-basis: 50%;
}
.room-response .room-search-features span img {
  margin-right: 3px;
}
.room-search-price p del {
  color: #94A3B8;
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
}
.room-response .room-search-price h5 {
  color: #475569;
  font-size: 13px;
  line-height: 20.8px;
  font-family: 'Comfortaa';
}
.room-response .room-search-price h5 span {
  color: #D97706;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.room-response-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  align-items: center;
}
.room-response-top h4 {
  margin-bottom: 0;
  color: #475569;
  font-size: 36px;
  line-height: 46.8px;
  font-family: 'Marcellus';
}
.room-response-top p {
  margin-bottom: 0;
}
.room-response-top p span {
  border: 1px solid #FBBF24;
  border-radius: 8px;
  font-family: 'Comfortaa';
  padding: 8px;
  margin-left: 4px;
  background-color: #fff;
}

.request-waiting-box {
  border: 1px solid #94A3B8;
  padding: 48px 120px;
  margin-top: 32px;
  border-radius: 24px;
}
.request-waiting-box h4 {
  color: #475569;
  font-size: 23px;
  line-height: 32.2px;
  font-family: 'Marcellus';
  margin-top: 30px;
  margin-bottom: 16px;
}
.request-waiting-box p {
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
}

.room-search-top-info h6 {
  color: #E11D48;
  font-size: 13px;
  line-height: 20.8px;
  font-weight: 700;
  font-family: 'Comfortaa';
  margin-bottom: 0;
  margin-top: -5px;
}


.room-search-timer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.room-search-timer span {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa';
  letter-spacing: 0;
  width: 35px;
  font-weight: 700;
  position: relative;
}
.room-search-timer.color-blue span {
  color: #0369A1;
}
.room-search-timer.color-orange span {
  color: #B45309;
}
.room-search-timer.color-red span {
  color: #E11D48;
}
.room-search-timer span.days {
  display: none;
}
.room-search-timer span img {
  margin-top: -2px;
  margin-right: -10px;
}
.room-search-price span:after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -2px;
}
.room-search-price span:last-child::after, .room-search-price span:first-child::after {
  display: none;
}

/* 
  Single Room Page CSS 
*/

/* Room Gallery */

.row.rooms-gallery-border {
  padding: 16px 8px;
  border: 1px solid #94A3B8;
  border-radius: 24px;
  margin: 0;
}
.single-room-gallery a {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

/* Amentites */

.room-amentites {
	padding-top: 32px;
	padding-bottom: 20px;
}
.room-amentites .review-summary {
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 32px;
  margin-bottom: 16px;
}
.room-amentites {
	padding-top: 32px;
	padding-bottom: 20px;
}
.room-amentites .review-summary {
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 32px;
  margin-bottom: 16px;
}
.review-summary span a {
  color: #475569;
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.room-amentites .review-summary span a {
  border-bottom: 1px dashed #0284C7;
  padding-bottom: 3px;
}
.room-amentites-title {
  color: #475569;
  font-size: 23px;
  line-height: 32.2px;
  margin-bottom: 16px;
}
.room-amentites span {
  display: block;
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  padding-left: 32px;
  margin-bottom: 15px;
  font-family: "Comfortaa";
  font-weight: 400;
}
.room-amentites span img {
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
}


.review-summary h4 {
  background-color: #0F766E;
  color: #fff;
  border-radius: 12px;
  padding: 8px;
  font-size: 36px;
  line-height: 46.8px;
  margin-right: 20px;
  font-family: "Marcellus";
  margin-bottom: 0;
}
.review-summary p {
  margin-bottom: 0;
  color: #0F766E;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  font-family: "Comfortaa";
}
.review-summary p span {
	display: block;
	color: #475569;
	font-size: 18px;
	line-height: 27px;
	font-family: "Comfortaa";
	margin-top: 5px;
	padding-left: 0;
	margin-bottom: 0;
}
.review-summary {
  margin-bottom: 32px;
}


.single-room-column-area {
  padding-top: 112px;
}
.single-room-column-area .section-title {
  margin-bottom: 32px;
}
.single-room-column-area .section-title-desc {
	color: #475569;
	font-size: 18px;
	line-height: 27px;
	font-family: "Comfortaa";
	margin-top: -16px;
	margin-bottom: 32px;
}
.single-room-column {
  border: 1px solid #94A3B8;
  border-radius: 30px 30px 0 0;
  position: relative;
  overflow: hidden;
}

.room-column-slider {
	position: relative;
}
.room-column-slider .carousel-item img {
	height: 337px;
}
.room-column-icon {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1;
}

.room-column-content h5 {
  font-size: 23px;
  line-height: 32.2px;
  color: #475569;
  margin-bottom: 20px;
}
.room-column-content {
  padding: 16px;
}
.room-column-content span {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #475569;
  margin-bottom: 13px;
}
.room-column-content span img {
  width: 24px;
  margin-right: 14px;
}


.room-column-bottom {
  text-align: center;
  border-top: 1px solid #94A3B8;
  margin: 24px 16px 0;
  padding: 24px 0 16px;
}
.room-column-bottom a {
  display: block;
}
.room-column-bottom p {
  color: #0F766E;
  font-size: 23px;
  line-height: 32.2px;
  font-family: 'Marcellus', serif;
}
.room-column-bottom p span {
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Comfortaa', cursive;
}
.room-column-bottom a.btn-border {
  margin-top: 16px;
}
.carousel-indicators button.active {
  background-color: #14B8A6;
}
.carousel-indicators {
  margin-bottom: 10px;
}
.carousel-indicators [data-bs-target] {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 10px;
	height: 10px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 1;
	transition: opacity .6s ease;
	border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev {
	opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-image: inherit;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	display: block;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #64748B;
}
.room-column-badge {
  position: absolute;
  z-index: 3;
  background-color: #0369A1;
  border-radius: 24px 0;
  padding: 12px 24px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Comfortaa';
}
.reviews {
	padding: 112px 0;
}
.policies {
	padding-top: 40px;
	padding-bottom: 125px;
}
.single-policy h4 {
  color: #475569;
  font-size: 23px;
  line-height: 32.2px;
  margin-bottom: 16px;
}
.single-policy {
  margin-bottom: 32px;
}
.single-policy span {
  display: block;
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}
.single-policy span:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #475569;
  border-radius: 50%;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.single-policy img {
  margin-right: 12px;
}


.reviews .section-title {
  margin-bottom: 32px;
}
.review-img {
  margin-right: 16px;
}
.review-img img {
  border-radius: 12px;
}
.review-info h4 {
  font-size: 18px;
  line-height: 27px;
  color: #0F766E;
  font-family: Comfortaa;
  font-weight: 700;
  margin-bottom: 8px;
}
.review-info p {
  color: #0284C7;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  font-family: Comfortaa;
}
.review-info p span {
  color: #475569;
}

.review-desc {
  margin-top: 24px;
  margin-bottom: 0;
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: "Comfortaa";
  font-weight: 400;
}
.review-date {
  color: #475569;
  font-family: "Comfortaa";
  font-size: 18px;
  line-height: 27px;
}
.single-review {
  border-bottom: 1px solid #94A3B8;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
.review-loadbtn {
  text-align: center;
}
.review-loadbtn a.btn-border {
  padding: 16px 170px;
}


.review-item .progress-bar {
  background-color: #64748B;
  border-radius: 12px;
}
.review-item .progress {
  background-color: #CBD5E1;
}
.review-item p {
  color: #475569;
  font-size: 13px;
  line-height: 20.8px;
  font-family: "Comfortaa";
  margin-top: 5px;
}

/* Footer CSS */

.footer {
  background-color: #115E59;
  padding: 64px 0;
}
.footer-logo {
  margin-bottom: 60px;
  font-size: 23px;
  line-height: 23px;
  color: #fff;
}
.footer-logo img {
  margin-right: 12px;
}
.single-footer h4 {
  color: #fff;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 24px;
}
.single-footer a {
  display: block;
  color: #fff;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
  line-height: 20.8px;
  margin-bottom: 12px;
}
.single-footer span {
  display: block;
  color: #fff;
  margin-bottom: 12px;
}
.single-footer span img {
  margin-right: 28px;
}
.footer-copy {
  border-top: 2px dashed #0D9488;
  margin-top: 60px;
  padding-top: 24px;
}
.footer-copy p {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20.8px;
  font-weight: 400;
}

/* 
  Property 
*/

/* Property Page */

.property-hero {
  padding: 32px 0 56px;
}
.property-hero h4 {
  color: #475569;
  font-size: 72px;
  line-height: 79.4px;
  font-weight: 400;
  margin-bottom: 64px;
}
.property-video {
  padding: 56px 0;
}
.property-video iframe {
  width: 100%;
  height: 445px;
  border-radius: 24px;
  border: 2px solid #008080;
}
.property-bottom {
  padding: 56px 0 120px;
}
.property-bottom h4 {
  color: #475569;
  font-size: 36px;
  line-height: 46.5px;
}
.property-bottom span {
  display: block;
  margin-bottom: 16px;
  position: relative;
  padding-left: 32px;
}
.property-bottom a {
  margin-top: 40px;
}
.property-bottom span img {
  position: absolute;
  left: 0;
  top: 5px;
}


.about-property {
  padding-top: 112px;
}
.about-property-box {
  border: 1px solid #14B8A6;
  border-radius: 24px;
}

.about-property iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 24px 24px 0;
  border-left: 1px solid #14B8A6;
}
.about-property {
  overflow: hidden;
}

.property-content h5 {
  font-size: 23px;
  line-height: 32.2px;
  color: #0284C7;
  margin-bottom: 16px;
}
.property-content p {
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: "Comfortaa";
}
.about-property h4 {
  color: #475569;
  font-size: 36px;
  line-height: 46.8px;
  margin-bottom: 32px;
  padding: 24px 0 0 24px;
}
.about-property img {
  margin-bottom: 32px;
  padding-left: 24px;
}
.row.about-property-box{
  margin: 0;
}
.about-property-box ul {
  list-style: none;
}
.about-property-box ul li {
  color: #475569;
  font-size: 18px;
  line-height: 27px;
  font-family: "Comfortaa";
}
.about-property-box ul li span {
  font-weight: bold;
}
.about-property-box ul li {
  margin-bottom: 12px;
}

.about-property ul li img {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 5px;
}
.about-property-box ul li {
  position: relative;
}
.about-property-box ul:last-child li {
  padding-left: 30px;
}
.about-property-box ul {
  margin-bottom: 24px;
}
.property-content img {
  margin: 0;
  padding: 0;
}

/* Property Step Form */

.property-form {
    text-align: center;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    min-height: 700px;
    padding: 0;
}

.property-form fieldset {
	width: 100% !important;
}

/*Hide all except first fieldset*/
.property-form fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
.property-form .action-button {
	width: 100%;
	background-color: #0D9488;
	color: white;
	border-radius: 44px;
	cursor: pointer;
	padding: 24px;
	border: 0;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Comfortaa';
	margin-top: 80px;
}
.property-form .action-button-previous {
	font-weight: 700;
	color: #0284C7;
	border: 0 none;
	cursor: pointer;
	background-color: transparent;
	text-decoration: underline;
	text-underline-offset: 5px;
	margin-top: 32px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
}
#progressbar li {
	list-style-type: none;
	color: #475569;
	font-size: 13px;
	width: 33.33%;
	float: left;
	position: relative;
	line-height: 20.8px;
	font-weight: 700;
	text-transform: capitalize;
}

#progressbar li::before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	background-color: #E2E8F0;
	border-radius: 8px;
	margin: 0 auto;
	border: 4px solid #94A3B8;
}

#progressbar li.active::before {
  border-color: #0D9488;
}

/*progressbar connectors*/
#progressbar li::after {
	content: '';
	width: 100%;
	height: 12px;
	background-color: #E2E8F0;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #2098ce;
    color: white;
}

#progressbar li.active::before, #progressbar li.active::after {
	background-color: #2DD4BF;
}
.single-step {
  position: relative;
}
.single-step {
  margin-bottom: 16px;
}
.single-step select, .single-step input {
  width: 100%;
  padding: 12px 60px;
  background-color: #F0FDFA;
  border-radius: 8px;
  border: 1px solid #14B8A6;
  color: #64748B;
  font-size: 18px;
  line-height: 28px;
}
.single-step select{
  padding: 16px 60px;
}
.single-step img {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.single-step {
  text-align: left;
}
.single-step-radio {
  display: flex;
  margin-bottom: 25px;
}
.single-step-radio label {
  display: flex;
  margin-right: 40px;
}
.single-step-radio label input {
  margin-right: 10px;
}
.single-step p {
  margin-bottom: 5px;
}
.single-step-radio label input {
  position: absolute;
  left: -9999px;
}
.single-step-radio label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #14B8A6;
  border-color: #14B8A6;
}
.single-step-radio label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.single-step-radio label span::before {
	display: flex;
	content: "";
	background-color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 0.375em;
	transition: 0.25s ease;
	border: 2px solid #94A3B8;
}

.step h4 {
  text-align: left;
  color: #475569;
  font-size: 23px;
  line-height: 32.2px;
  font-family: 'Marcellus';
  margin-bottom: 30px;
}
.single-step-radio-image input[type="radio"]{
  display: none;
}
.single-step-radio-image label {
	border: 1px solid #14B8A6;
	border-radius: 8px;
	position: relative;
	color: #475569;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	padding: 16px 0;
	width: 140px;
	cursor: pointer;
}
.step-radio-image-box img {
	width: 20px;
	margin: 0 auto;
}
.single-step-radio-image label > span {
	font-size: 13px;
	font-family: 'Comfortaa';
	font-weight: 400;
	display: block;
	text-align: center;
}
.single-step-radio-image input[type="radio"]:checked + label {
	background-color: #F0FDFA;
}
.property-step {
	min-height: 1000px;
}

.single-step-radio-image {
  display: flex;
  margin-top: 20px;
}
.step-radio-image-box {
  margin-right: 16px;
}
.step-radio-image-box img {
	width: 20px;
	margin: 0 auto;
	position: static;
	margin-bottom: -5px;
	margin-top: 10px;
}

.property-add-modal .modal-body {
  padding: 64px 64px;
  border: 2px solid #0F766E;
  border-radius: 24px;
}
.property-add-modal .modal-body h4 {
  font-size: 23px;
  line-height: 32.2px;
  color: #0F766E;
  margin-top: 20px;
  margin-bottom: 20px;
}
.property-add-modal .modal-body a {
  font-size: 18px;
  line-height: 27px;
}
.property-add-modal .modal-content {
  border-radius: 26px;
}